/* 禁止滚动条 */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* 禁止滚动 */
}

/* 404 页面通用样式 */
.body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Classic Grotesque W01", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
  background: #fff url('/images/about.png') no-repeat right top; /* 背景图保持在右上角 */
  background-size: contain; /* 保持比例，适应视口，避免拉伸 */
  background-attachment: fixed;
  background-position: right top; /* 背景定位到右上角 */
  overflow: hidden;
  color: #333;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* 适应小屏幕时，使用contain来保证背景图不会变形 */
@media (max-width: 600px) {
  .body {
    background-size: contain; /* 保持比例，适应视口，避免拉伸 */
  }
}

/* 404 页面整体容器 */
.body404 {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff url('/images/about.png') no-repeat right top; /* 背景图保持在右上角 */
  background-size: contain; /* 保持背景图的比例，适应视口 */
  background-attachment: fixed; /* 背景固定 */
  background-position: right top; /* 背景定位到右上角 */
  min-width: 320px; /* 设定一个最小宽度，避免背景图过小 */
  min-height: 240px; /* 设定一个最小高度，避免背景图过小 */
  text-shadow: 1px 1px 0 #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden; /* 确保没有滚动条 */
}

/* 404 页面标题 */
.site-name404 {
  margin: 0 auto;
  width: 3em;
  text-align: center;
  letter-spacing: 2px;
  font: 700 88px/1.2 "ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
}

/* 404 页面文本内容 */
.title404 p {
  font-size: 20px;
  margin: 0.5em 0 .6em;
}

/* 404 页面返回首页按钮 */
.index404 {
  margin-top: 13px;
  display: inline-block;
  padding: 14px 27px 14px 29px;
  color: #fff;
  white-space: nowrap;
  border-radius: 50px;
  text-align: center;
  background: #444;
  font-weight: 500;
  font-size: 14px;
  text-shadow: none;
}
.index404:hover {
  background-color: #000;
  color: #fff;
}

/* 404 页脚 */
#footer404 {
  margin-top: 30px;
  text-align: center;
  color: #999;
  font-style: SimSun; /* 给文字增加一些艺术感 */
  font-size: 10px;
}

#footer404 p {
  font-size: 16px;
  color: #333; /* 可以根据需要调整颜色 */
  text-align: center;
}


/* 响应式设计，确保背景图在不同尺寸下保持良好的显示效果 */
@media (max-width: 860px) {
  .body404 {
    background-size: 100% 100%;
  }

  .site-name404 {
    font-size: 48px;
  }

  .title404 p {
    font-size: 18px;
  }

  .index404 {
    font-size: 12px;
  }
}

/* 取消 <i> 标签的斜体效果 */
.site-name404 i {
  font-style: normal; /* 取消斜体 */
  font-weight: 700;
  display: block;
  font-size: 88px; /* 根据需要调整字体大小 */
  letter-spacing: 0em; /* 调整字间距 */
  color: #222;
}
