body {
  color: #333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Classic Grotesque W01", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei",
    "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-size: 17px;
  position: relative;
  background-color: #fff;
}

.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .progress-bar {
    background-color: #cf4f28;
    height: .1em;
    width: 0;
  }
}

.border-skin-line {
  position: relative;
  border: none;
  height: 0;

  /* &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    border-top: 1px solid #777;
    color: #cf4f28;
    height: 200%;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    pointer-events: none;
    box-sizing: border-box;

    @media screen and (min-device-pixel-ratio:3),
    (-webkit-min-device-pixel-ratio:3) {
      width: 300%;
      height: 300%;
      -webkit-transform: scale(0.33);
      transform: scale(0.33);
    }
  } */
}

.body_container {
  padding: 0 57px;
  max-width: 740px;
  margin: 0 auto;
}

.content_container {
  padding-right: 50px;
  padding-top: 20px;
}

a,
button.submit {
  color: #cf4f28;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  outline: none !important;
}

a:hover,
a:active {
  color: #444;
}

a:focus {
  outline: auto;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: "​";
  display: block;
  height: 0;
  clear: both;
}

blockquote,
.stressed {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 2.5em 0;
  padding: 0 0 0 50px;
  font-style: italic;
  color: #555;
  border-left: none;
}

blockquote:before,
.stressed-quote:before {
  content: "“";
  display: block;
  font-family: times;
  font-style: normal;
  font-size: 48px;
  color: #444;
  font-weight: bold;
  line-height: 30px;
  margin-left: -50px;
  position: absolute;
}

strong,
b,
em {
  padding: 1px 2px;
  background-color: #f3b65a;
  font-weight: normal;
}

pre {
  margin: 2em 0;
}


header {
  padding: 0;
  margin-bottom: 2.5em;
  position: relative;
}

.top-nav-wrap {
  display: flex;
  vertical-align: middle;
  margin-top: 2em;
  padding-bottom: 1.5em;
}

#layout {
  flex: 1;
  order: -1;
  padding-top: 50px;
}

.content {
  max-width: 880px;
  padding: 0 75px;
  margin: 0 auto;
  position: relative;
}

.logo {
  display: block;
  color: #cf4f28;
  width: 170px;
  img{
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
  }
  span{
    text-transform: capitalize;
    display: inline-block;
    background: -webkit-linear-gradient(#ffa726,#e65000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Futura, "Trebuchet MS", Arial;
    font-size: 31px;
    font-weight: normal;
  }
}

#nav-menu {
  flex: 1;
  text-align: right;
  line-height: 2em;
  text-transform: uppercase;
}

#menu-items {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    padding: 0 .7em;
    line-height: 43.5px;
    a{
      color: #ccc;
      font-size: 14px;
      &:hover{
        color: #000;
      }
    }
    svg {
      width: 1.2em;
      height: 1.2em;
    }

    .sr-only {
      display: none;
    }
  }
}

#main-content {
  h1{
    font-weight: normal;
    margin-top: .2em;
    font-weight: normal;
    font-size: 1.6em;
    margin-bottom: .3em;
  }

}
/* card */
.card-title {
  color: #cf4f28;
  h2,
  h3,
  h4 {
    margin:0
  }
  &:hover{
    color: #000;
  }
}

.card-ul,
.card-list-li {
  list-style: none;
  margin: 0;
  padding: 0;
  h2,
  h3 {
    margin-top: .2em;
    font-weight: normal;
    font-size: 1.6em;
    margin-bottom: .3em;
  }

  time {
    font-size: .8em;
  }
}
.card-list-li {
  position: relative;
  margin: 2em 0 3em;
}
/* datebox*/

.date-box{
  font-size: 12px;
  font-weight: 500;
  color: #abb4be;
  text-transform: uppercase;
}
/* post */
.post-title {
  margin-top: 0.2em;
  margin-bottom: .3em;
  font-weight: normal;
  font-size: 1.6em;
  color: #000;
  color: #cf4f28;
}

.post-content {
  position: relative;
  margin-top: 1.5em;
  line-height: 1.81;
  text-align: justify;
  p{
    margin:0 0 1.7em;
  }
  img {
    max-width: 100%;
  }
  blockquote{
    font-style: normal;
    .talk{
      margin-left: 1em;
    }
    .talk span {
      text-indent: -2em;
      display: inline-block;
    }
  }
}

/* pagination */
.pagination-wrapper{
  justify-content:none;
}
.pagination-wrapper a{
  display: inline-block;
  padding: 14px 15px;
  margin: 3px;
  color: #888;
  border: 1px solid #eee;
  font-size: 1em;
  height: 1.2em;
  line-height: 1.2;
  &:hover{
    border-color: #cf4f28;
  }
}
.pagination-wrapper,
.all-posts-btn-wrapper {
  margin-top: 4em;
  margin-bottom: 4em;
}
.active{
  color: #cf4f28!important;
  border-color: #cf4f28!important;
}
.disabled{
  display: none;
}
.prev-svg,
.next-svg,
.rss-icon {
  height: 1em;
  width: 1.5em;
}

.tag-list {
  list-style-type: none;
  margin: 2em 0;
  padding: 0;

  svg {
    width: 1.5em;
    height: 1.2em;
  }
}

.related-post{
  padding: 2em 0;
  display: flex;
  .prev-post,.next-post{
    flex: 1;
  }
  .next-post{
    text-align: right;
  }
}

/* footer */

footer {
  margin-top: 3em;
}

.footer-wrapper {
  padding: 2em 0 5em;
}

.copyright-wrapper {
  font-size: .9em;
  span{
    display: inline-block;
    vertical-align: middle;
  }
  
}

.astro-code {
  padding: 1.2em;
  font-size: .8em;
  line-height: 1.6;
  background-color: #311109 !important;
  color: #f1d2d2 !important;

  .copy-code {
    position: absolute;
    top: 1em;
    right: 1em;
    background: #673535;
    color: #fff;
    border: none;
    padding: .3em 1em;
    text-transform: uppercase;
  }
}

/* search */
.search-bar {
  padding: 1em 1em 1em 0;
}

.search-bar-input {
  padding: .2em .5em;
  margin: 0 0 0 1em;
  height: 2em;
}

.search-bar-result {
  padding: 1em 0;
}

/* breadcrumb */

.breadcrumb {
  margin-top: 1.4em;
  margin-bottom: 1.4em;

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }
}

.hamburger-menu {
  display: none;
}

@media (max-width: 640px) {
  body{
    font-size: 15px;
  }
  .content {
    padding: 0 1em 0 1em;
  }

  .display-none {
    display: none;
  }
  .nav-container{
    
  }
  .top-nav-wrap{
    display: block;
    position: relative;
    #menu-items{
      background-color: #fff;
      text-align: right;
      padding: 1em 0 .7em;
      margin-top: 0;
      li{
        text-align: center;
      }
    }
     
  }
  .hamburger-menu {
    display: block;
    position: absolute;
    right: -5px;
    top: 8px;
    border: none;
    background-color: #fff;
    .menu-icon{
      color: #cf4f28;
    }
    .is-active {
      .line {
        display: none;
      }
      .close {
        display: block;
      }
    }

    .close {
      display: none;
    }
  }
  .related-post{
    padding: 1em 0;
    display: block;
    .prev-post,.next-post{
      flex: none;
      svg{
        display: none;
      }
    }
    .next-post{
      text-align: left;
    }
  }
}
