---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Sidebar from "@components/Sidebar.astro";
import getUniqueTags from "@utils/getUniqueTags";

const posts = await getCollection("blog");
const tags = getUniqueTags(posts);
---

<Layout title="标签" description="所有标签">
  <div class="side-click icon-arrow-down"></div>
  <div class="move-block">
    <Header />
    <div id="body">
      <div class="container">
        <div class="col-group">
          <div class="col-8" id="main">
            <div class="res-cons">
              <article class="post single-page">
                <header>
                  <h1 class="post-title">标签</h1>
                </header>
                <div class="page-content post-content">
                  <div class="tag-cloud">
                    {tags.map((tag) => (
                      <a 
                        href={`/tags/${tag.tag}`} 
                        style="font-size: 1.2em; margin: 0.5em; display: inline-block; padding: 0.3em 0.6em; background: #f5f5f5; border-radius: 3px; color: #666;"
                      >
                        {tag.tagName}
                      </a>
                    ))}
                  </div>
                </div>
              </article>
            </div>
          </div>
          <Sidebar />
        </div>
      </div>
    </div>
    <Footer />
  </div>
</Layout>
