---
import Layout from '../layouts/Layout.astro';
import Header from '@components/Header.astro';
import AboutFootprints from '../components/AboutFootprints.astro';
import Footer from '@components/Footer.astro';
import Component from '@components/Comment.astro';

const pageTitle = '关于';
---
<Layout title={`${pageTitle} | Xio's`}>
  <Header activeNav="about" />
<main class="main-container">
    <div class="post-content"> 
 <img src="/images/aboutme.png">
      <p>我是狮子座，天生带着一点倔强和浪漫，喜欢在平凡生活中折腾些不那么平凡的事。懂一点 <code>HTML</code> 和 <code>CSS</code>，代码不精，却能写出自己的小宇宙。</p>
      <p>这个博客，是我在数字世界里搭建的一间小屋，偶尔修修补补，记录想法、收藏灵感，也安放那些三分钟热度和深夜的胡思乱想。</p>
      <p>我并非专业程序员，却对技术、数字与网络世界保持着一种执着的好奇。时而热血，时而懒散，像代码里藏着的人生，始终在调试中前行。</p>
      <p>有缘人会看到这里的故事，无缘者也不必强求——反正网络爬虫已经默默存档，它们会替我保留这段痕迹，哪怕无人问津。</p>
      <p>这是一段普通人的数字旅程，平凡但真实。<strong>欢迎你走进我的世界，哪怕只是一瞬。</strong></p>
 {/* 👇 在这里添加你的地图标题和描述 */}
<h2 style="text-align: center; margin-top: 3rem;">我的足迹 🗺️</h2>
<p style="text-align: center; margin-top: -0.5rem; font-size: 0.9rem; line-height: 1.2;">
  我走过的每一个地方<br>
  <span style="font-size: 0.7rem;">PS:如果足迹显示漂移，<strong>F5</strong>刷新一下，懒的改了</span>
</p>
    </div>


    <AboutFootprints /> 
    
<div class="date-box" style="margin-top: 0.5rem;">JUN 15, 2025</div>
  <Component />
  </main>
  <Footer />
</Layout>

<style>
  main {
    max-width: 880px;
    margin: 0 auto;
    padding: 1.5rem;
    background: #fefefe; 
  }
</style>