---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Sidebar from "@components/Sidebar.astro";
import getSortedPosts from "@utils/getSortedPosts";

const posts = await getCollection("blog");
const sortedPosts = getSortedPosts(posts);

// 按年份分组，与原主题保持一致的数据结构
const archivesByYear = sortedPosts.reduce((acc, post) => {
  const date = new Date(post.data.pubDatetime);
  const year = date.getFullYear();
  
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {} as Record<number, typeof sortedPosts>);

const years = Object.keys(archivesByYear).map(Number).sort((a, b) => b - a);
---

<Layout title="归档" description="文章归档页面">
  <div class="side-click icon-arrow-down"></div>
  <div class="move-block">
    <Header activeNav="archives" />
    <div id="body">
      <div class="container">
        <div class="col-group">
          <div class="col-8" id="main">
            <div class="res-cons">
              <article class="post">
                <div class="post-content-pages">
                  <div id="archives">
                    {years.map((year) => (
                      <Fragment>
                        <div class="al_year">{year} 年</div>
                        <ul class="al_mon_list">
                          {archivesByYear[year].map((post) => (
                            <li>
                              {new Date(post.data.pubDatetime).toLocaleDateString('zh-CN', { 
                                month: '2-digit', 
                                day: '2-digit' 
                              })}
                              <a href={`/posts/${post.slug}`}>{post.data.title}</a>
                            </li>
                          ))}
                        </ul>
                      </Fragment>
                    ))}
                  </div>
                </div>
              </article>
            </div>
          </div>
          <Sidebar />
        </div>
      </div>
    </div>
    <Footer />
  </div>
</Layout>
