---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";
import { SITE } from "@config";

const posts = await getCollection("blog");
const sortedPosts = getSortedPosts(posts);
const recentPosts = sortedPosts;
---

<Layout>
  <Header />
  <main id="main-content" class="content">
    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <ul class="card-ul">
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < SITE.postPerPage && (
                  <Card
                    slug={slug}
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }
    { 
      recentPosts.length > SITE.postPerPage &&(
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts/2">
          更多文章  &gt;
        </LinkButton>
      </div>
    )}
  </main>

  <Footer />
</Layout>

<style>
</style>