---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import FriendLinks from "@components/FriendLinks.astro";
import Component from '@components/Comment.astro';
import RandomVisitButton from "@components/RandomVisitButton.astro";
import { SITE } from "@config";
---

<Layout>
  <Header activeNav="links" />
  <main id="main-content" class="content">
    <section id="recent-posts">
      <h1 class="links-title">邻居</h1>
      <p><RandomVisitButton />一个有趣的邻居。</p>
      <FriendLinks />
      <Component />
    </section>
  </main>
  <Footer />
</Layout>

<style>
  .links-title {
    color: #cf4f28;
  }
</style>