---
---
<div class="giscus">
  hi fuck
  <script
    src="https://giscus.app/client.js"
    data-repo="pagecho/pagecho.github.io"
    data-repo-id="R_kgDOL1JbLQ"
    data-category="Ideas"
    data-category-id="DIC_kwDOL1JbLc4CgTn7"
    data-mapping="url"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="https://frynut.com/assets/comment.css"
    data-lang="zh-CN"
    crossorigin="anonymous"
    data-loading="lazy"
    async
  ></script>
</div>