---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Sidebar from "@components/Sidebar.astro";

export interface Props {
  pageTitle: string;
  pageDesc?: string;
  activeNav?: "posts" | "archives" | "about" | "links";
}

const { pageTitle, pageDesc, activeNav } = Astro.props;
---

<Layout title={pageTitle} description={pageDesc}>
  <div class="side-click icon-arrow-down"></div>
  <div class="move-block">
    <Header activeNav={activeNav} />
    <div id="body">
      <div class="container">
        <div class="col-group">
          <div class="col-8" id="main">
            <div class="res-cons">
              <slot />
            </div>
          </div>
          <Sidebar />
        </div>
      </div>
    </div>
    <Footer />
  </div>
</Layout>


</Layout>